@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.fibra{
    background-color: rgb(32, 32, 32);
    background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
    background-size: 10px 10px, 10px 10px, 10px 5px;
    background-position: 0px 0px, 5px 5px, 0px 0px;
}
.blanco-nav{
    color: white !important;
    font-family: Roboto,sans-serif !important;
    transition: 0.3s ease;
}
.blanco-nav:hover{
    color:red !important;
    transition: 0.3s ease;
}