.item {
    color: inherit;
    text-decoration: none;
}
.item:hover {
    color: inherit;
}

.agrandar-item {
    transform: scale(1);
    background-color: transparent;
    z-index: 999;
}

.agrandar-item:hover {
    animation: agrandar 200ms ease forwards;
}

.agrandar-item:not(:hover) {
    animation: achicar 200ms ease forwards;
}

@keyframes agrandar {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}
@keyframes achicar {
    0% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
.ocultartexto {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.columna {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjeta {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
