.item{
    color:inherit;
    text-decoration: none;
}
.item:hover{
    color: inherit;
}
.ocultartexto{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.columna{
    display: flex;
    align-items: center;
    justify-content: center;
}